<div class="container">
    {% if section.settings.title != blank %}
      <div class="sixteen columns">
        <h2 class="title center">{{ section.settings.title | escape }}</h2>
        <div class="feature_divider"></div>
      </div>
    {% endif %}
  
    {% for block in section.blocks %}
    {% if section.blocks.size == 1 %}
      {%- assign column_width = 'sixteen columns' -%}
      {% elsif section.blocks.size == 3 %}
        {%- assign column_width = 'one-third column' -%}
      {% elsif section.blocks.size == 4 %}
        {%- assign column_width = 'four columns medium-down--one-half' -%}
      {% elsif section.blocks.size == 5 %}
        {%- assign column_width = 'one-fifth column medium-down--one-half' -%}
      {% else %}
        {%- assign column_width = 'eight columns medium-down--one-half' -%}
      {% endif %}
      <div class="{{ column_width }} text-column" {{ block.shopify_attributes }}>
        <div class="border-style--{{ block.settings.border_style }} text-align--{{ block.settings.align_text }}">
          {% if block.settings.enable_image %}
            {% if block.settings.image != blank %}
              {% include 'image-element', image: block.settings.image.src, alt: block.settings.image.alt %}
            {% else %}
              <p>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </p>
            {% endif %}
          {% endif %}
          {% if block.settings.title != blank %}
            <h3 class="{{ block.settings.heading_size }}">{{ block.settings.title | escape }}</h3>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte-setting">{{ block.settings.text }}</div>
          {% endif %}
          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}" class="action_button continue-button">
              {{ block.settings.button_label | escape }}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  