<div class="our-pods-section">
<a name="pagecontent" id="pagecontent"></a>



  
   {% section 'page-our-pods-template' %}
  
  
<!--logo-->
  <div class="container center">
     
      <div class="one-third column logo-bar_item">
          <img src= "{{ 'stopwatch_2x.png' | asset_img_url: '52x' }}" >
          <h4>Pops Open in Seconds</h4>
      </div>
      <div class="one-third column logo-bar_item ">
        <img src= "{{ 'tent.png' | asset_img_url:'58x' }}" >
        <h4>Zero Assembly Design</h4>
    </div>
    <div class="one-third column logo-bar_item">
        <img src= "{{ 'clouds_2x.png' | asset_img_url:'69x' }}" >
        <h4>100% Versatility</h4>
    </div>
    
  </div>

  <!--multi-color-banners-->
  <div class="MyPod2wrapper">
    
   <div class="container center">
        <h2 class="title">All-Weather Pods</h2>
        <span class="hr"></span>
        <div id="MyPod2">
        <div  class="one-third column">
            <h4>WINDBUSTER™ & CONNECTUP™ PODS</h4>
            <ul style="list-style-type:none" >
                <li>UTW WindBuster™ Pods provide 270-360° views while you’re fully enclosed and up to 35° warmer inside than out.</li>
                <li>Use ConnectUp Pods individually or together under ConnectUp™ roofs to keep you safe, comfortable and present, no matter the Weather. </li>
                
            </ul>
        </div>
        <div class="one-third column center">
          <img src="{{ 'All_Weather.png' | asset_url }}" >
          <span class="center icon-down-arrow"></span>
      </div>
      <div class="one-third column">
          <h4>WIND OUT. COMFORT IN.</h4>
            <ul>
                <li>Heavy-duty stakes allow you to stay put in windy conditions </li>
                <li>Mix and match colors or add custom lettering to the roof to make the ideal gift.
                </li>
                <li>Add more Pods to fit two or four people at a time to stay dry wherever you are, with the ones who matter the most.
                </li>
                
            </ul>
  
            <a href="/collections/all-pods" class="button action_button continue-button">Shop Now</a>
      </div>
   
  </div>
  </div>
  </div>
  <div class="MonsterMeshPodwrapper">
    
      <div class="container center">
      <h2 class="title">Screen Pods</h2>
        <span class="hr"></span>
        <div id="MMP">
        <div class="one-third column">
            <h4>MYPOD™ & MONSTERMESHPOD™</h4>
            <ul style="list-style-type:none" >
                <li>The MyPod™ Mesh tent is an ultra-lightweight one-person Pod ideal for more crowded or sunny areas.</li>
                <li>MonsterMeshPod™ tents provide 270° views even when fully zipped. A must for spectating or communing with nature.
                </li>
                
            </ul>
        </div>
        <div class="one-third column center">
          <img src=" {{ 'Screened.png' | asset_url }}">
          <span class="center icon-down-arrow"></span>
        </div>
      <div class="one-third column">
          <h4>ENJOY A PORTABLE PATIO ON THE GO</h4>
            <ul>
                <li>Super lightweight, portable and compact, screen pods are easy to tote and store just about anywhere.</li>
                <li>Be prepared! Great for scout or field trips in the great outdoors.</li>
                <li>Enjoy outdoor events without worrying about the weather, gnats or mosquitos.
                </li>
                
            </ul>
  
            <a href="/collections/all-pods" class="button action_button continue-button ">Shop Now</a>
     
  </div>
</div>
  </div>
  </div>

  <div class="ConnectUpwrapper">
       
          <div class="container center">
      <h2 class="title">Wearable Pods
    </h2>
       <span class="hr"></span>
        <div id="CU">
        <div class="one-third column ">
            <h4>WalkingPod™, StadiumPod™ & ChairPod™</h4>
            <ul style="list-style-type:none" >
                <li>WalkingPod™: Compact and lightweight coverage for wildlife photographers, game day enthusiasts, and outdoor working personnel on the move</li>
                <li>ChairPod™: Don’t get caught in the rain while traveling in your wheelchair with lightweight coverage fully enclosable around the upper body.
                </li>
                <li>StadiumPod™: The smallest and most compact of the three styles and is fan-friendly so it won’t block people sitting beside or behind you.
                </li>
            </ul>
        </div>
        <div class="one-third column center">
          <img src=" {{ 'Wearable.png' | | asset_url }}">
          <span class="center icon-down-arrow"></span>
        </div>
      <div class="one-third column">
          <h4>MOBILITY ON DEMAND
        </h4>
            <ul>
                <li>Slimmer more compact profile that slips-on for mobility</li>
                <li>Clear-coated PVC plastic panels ensure your upper body is fully enclosed and up to 35° warmer inside than out.
                </li>
                <li>Dual-zippered windows provide hands-free, easy access
                </li>
                
            </ul>
  
            <a href="/collections/all-pods" class="button action_button continue-button">Shop Now</a>
      </div>
  </div>
  </div>
  </div>

  


<!--image and text-->
<div class="container">
    <div id="stay-dry">
<div class="eight columns alpha">
    <h2 class="title">Stay Dry & Comfortable, Regardless Of The Daily Forecast
    </h2>
    <p>Protecting you and your loved ones against the sun, wind, rain, and cold conditions is not just what we do, but rather the purpose-led mission that naturally drives our company forward. Durable, lightweight nylon, connectable, customizable and available in 100+ styles and colors, we didn’t just invent the portable shelter, we work tirelessly to perfect it by providing you with a superior product experience, wherever and whenever you choose to enjoy the greater outdoors - no matter the weather. </p>
    <a href="/collections/all-pods" class="button action_button continue-button">Shop All</a>
</div>
<div class="eight columns">
    <img src=" {{ 'Dry-Comfort.jpg' | | asset_url }}">
</div>
</div>
</div>
<!--text columns with images-->
<div id="spend-time" class="container">

<h2 class="title center">Built to Defend & Protect.  Built to Last.</h2>
<div class="feature-divider"></div>
<div class="one-third column">
    <img src="{{ 'Colors-Sizes.jpg' | asset_url }}">
    <h3>Your Pod. Your Style.</h3>
    <p>UTW pods allow you to choose from over 100+ styles, colors, and sizes. Find the combination that speaks to the avid gameday fan or camping aficionado, in you.</p>
</div>
<div class="one-third column">
    <img src="{{ 'Customization.jpg' | | asset_url }}">
    <h3>Build The Pod Experience You Want</h3>
    <p>With our specialized customizing options, opt for a roof for extra protection against the elements or make it your own with custom lettering to reflect your personal style or favorite team choice.</p>
</div>
<div class="one-third column">
  <img src="{{ 'Live-Person.jpg' | asset_url }}">
<h3>Live Customer Support</h3>
<p>We believe in the power of the human connection and that’s why we aim to provide efficient customer service with real people ready to talk to you about our product features, shipping updates and just about any UTW question you may have.</p>
</div>
  </div>
<div class="container">
  <div class="six columns alpha offset-by-five center">
<a href="/collections/all-pods" class="action_button continue-button">Shop All</a>
</div>
  </div>
</div>
